[Desktop Entry]
Type=Application
Name=Cursor BYOK
Name[zh_CN]=Cursor 助手
GenericName=Cursor BYOK
Comment=Infinite BYOK in Cursor
Exec=cursor-byok
Icon=cursor-byok
Terminal=false
Categories=Development;IDE;
StartupWMClass=cursor-byok-desktop
